<html th:xmlns="https://www.thymeleaf.org/">
<head>
   <div th:replace="fragments/commonui :: header"></div>
</head>
    <body>
    <div th:replace="fragments/commonui :: menu"></div>
    <div class="container">
        <div class="card">
    <div class="card-header bg-info text-center text-white"><h2>Welcome To Appointment Edit Page</h2></div>
    <div class="card-body">
        <form th:action="@{/appointment/update}" method="POST" th:object="${appointment}">

            <div class="row">
                <div class="col-2"><label for="date">ID</label></div>
                <div class="col-6"><input type="text" th:field="*{id}" id="id" class="form-control" readonly></div>
                <div class="col-4"><span id="dateError"></span></div>
                </div>
                
        <div class="row">
                <div class="col-2"><label for="doctor">DOCTORS NAMES</label></div>
                <div class="col-6"><select th:field="*{doctor.id}" id="doctor" class="form-control">
                <option value="">---SELECT---</option>
                <option th:each="ob:${doctors}" th:value="${ob.key}" th:text="${ob.value}"></option>
                </select>
                </div>
                <div class="col-4"><span id="doctorError"></span></div>
                </div>         
                

    <div class="row">
    <div class="col-2"><label for="date">DATE</label></div>
    <div class="col-6"><input type="date" th:field="*{date}" id="date" class="form-control"></div>
    <div class="col-4"><span id="dateError"></span></div>
    </div>
    <div class="row">
        <div class="col-2"><label for="noOfSlots">NO OF SLOTS</label></div>
        <div class="col-6"><input type="text" th:field="*{noOfSlots}" id="noOfSlots" class="form-control"></div>
        <div class="col-4"><span id="noOfSlotsError"></span></div>
    </div>
    <div class="row">
    <div class="col-2"><label for="note">DETAILS</label></div>
    <div class="col-6"><input type="text" th:field="*{note}" id="note" class="form-control"></div>
    <div class="col-4"><span id="noteError"></span></div>
    </div>
    <div class="row">
    <div class="col-2"><label for="consultFee">CONSULTATION FEES</label></div>
    <div class="col-6"><input type="text" th:field="*{consultFee}" id="consultFee" class="form-control"></div>
    <div class="col-4"><span id="consultFeeError"></span></div>
    </div>
    <button class="btn btn-success"><i class="fas fa-wrench"></i> UPDATE</button>
        </form>
    </div>
    <div th:if="${message!=null}" class="card-footer bg-info text-center text-white"><span th:text="${message}"></span></div>
        </div>
    </div>
    </body>
    </html>
