<html>

<head>
    <div th:replace="fragments/commonui :: header"></div>
</head>

<body>
<div th:replace="fragments/commonui :: menu"></div>
    <div class="container">
        <div class="card">
            <div class="card-header bg-info text-white text-center">
                <h2>Welcome To Appointment Data Page</h2>
            </div>
            <div class="card-body">
                <form action="#" method="POST">
                    <table class="table table-hover bg-info text-center text-white">
                        <tr>
                            <th>ID</th>
                            <th>DOCTOR NAME</th>
                            <th>DATE</th>
                            <th>NO OF SLOTS</th>
                            <th>DETAILS</th>
                            <th>CONSULTATION FEES</th>
                            <th>OPERATIONS</th>
                        </tr>
                        <tr th:each="ob:${list}" class="text-center">
                            <td th:text="${ob.id}"></td>
                            <td>[[${ob.doctor.firstName+''+ob.doctor.lastName}]]</td>
                            <td th:text="${ob.date}"></td>
                            <td th:text="${ob.noOfSlots}"></td>
                            <td th:text="${ob.note}"></td>
                            <td th:text="${ob.consultFee}"></td>
                            <td>
                                <a th:href="@{/appointment/delete(id=${ob.id})}" class="btn btn-success"> <i class="fas fa-trash-alt"></i> DELETE</a>
                                <a th:href="@{/appointment/edit(id=${ob.id})}" class="btn btn-warning"><i class="fas fa-edit"></i> EDIT</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div th:if="${message!=null}" class="card-footer bg-info text-white text-center "><span th:text="${message}"></span></div>
        </div>
    </div>
</body>
</html>