<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <div th:replace="fragments/commonui :: header"></div>
</head>

<body>
<div th:replace="fragments/commonui :: menu"></div>
    <div class="container">
        <div class="card">
            <div class="card-header bg-info text-center text-white">
                <h3>Welcome To Doctor Data Page</h3>
                <a th:href="@{/special/show}" class="text-white text-right">Click Back To Special Register</a>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <tr class="bg-info text-white">
                        <th>Image</th>
                        <th>ID</th>
                        <th>NAME</th>
                        <th></th>
                        <th>SPECIALIZATION</th>
                        <th>EMAIL</th>
                        <th>MOBILE</th>
                        <th>NOTE</th>
                        <th>ADDRESS</th>
                        <th>OPERATION</th>
                    </tr>
                	<tr th:each="ob:${list}">
                	    <td><img th:src="${ob.photoLoc}" width="60" hight="70"></td>
                	    <td th:text="${ob.id}"></td>
                    	<td th:text="${ob.firstName}"></td>
                    	<td th:text="${ob.lastName}"></td>
                    	<td th:text="${ob.specialization.name}"></td>
                    	<td th:text="${ob.email}"></td>
                    	<td th:text="${ob.mobile}"></td>
                    	<td th:text="${ob.note}"></td>
                    	<td th:text="${ob.address}"></td>
<td><a th:href="@{/doctor/delete(id=${ob.id})}" class="btn btn-danger">DELETE <i class="fa fa-trash-o" aria-hidden="true"></i> </a> | 
 <a th:href="@{/doctor/edit(id=${ob.id})}" class="btn btn-warning">EDIT <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
</tr>
</table>
</div>
<div class="card-footer bg-white text-success" th:if="${message!=null}"><span th:text="${message}"></span></div>
</div>
</div>
</body>
</html> 