<html xmlns:th="https://www.thymeleaf.org/">

<head>
    <div th:replace="fragments/commonui :: header"></div>
</head>

<body>
<div th:replace="fragments/commonui :: menu"></div>
    <div class="container">
        <div class="card">
            <div class="card-header bg-info text-white text-center">
                <h2>Welcome to Edit Page</h2>
            </div>
            <div class="card-body">
                <form th:action="@{/patient/update}" method="POST" th:object="${patient}">
                    <div class="row">
                        <div class="col-2"><label for="id">Id</label></div>
                        <div class="col-6"><input type="text" th:field="*{id}" id="id" placeholder="Enter First Name"
                                class="form-control" readonly></div>
                        <div class="col-4"><span id="idError"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-2"><label for="firstName">First Name</label></div>
                        <div class="col-6"><input type="text" th:field="*{firstName}" id="firstName"
                                placeholder="Enter First Name" class="form-control"></div>
                        <div class="col-4"><span id="firstNameError"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-2"><label for="lastName"></label></div>
                        <div class="col-6"><input type="text" th:field="*{lastName}" id="lastName"
                                placeholder="Enter Last Name" class="form-control"></div>
                        <div class="col-4"><span id="lastNameError"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-2"><label for="gender">Gender</label></div>
                        <div class="col-6"><input type="radio" th:field="*{gender}" value="Male" id="gender1"> Male
                            <input type="radio" th:field="*{gender}" value="Female" id="gender2"> Female
                            <input type="radio" th:field="*{gender}" value="Others" id="gender3"> Others
                            <div class="col-4"><span id="genderError"></span></div>
                        </div>
                    </div>

                         <div class="row">
                        <div class="col-2"><label for="phone">Phone Number</label></div>
                        <div class="col-6"><input type="text" th:field="*{phone}" id="phone" placeholder="Enter Mobile Number"
                                class="form-control"></div>
                        <div class="col-4"><span id="phoneError"></span></div>
                      </div>

                      <div class="row">
                        <div class="col-2"><label for="email">Email Id</label></div>
                        <div class="col-6"><input type="text" name="email" id="email" placeholder="Enter Email Id"
                                class="form-control"></div>
                        <div class="col-4"><span id="emailError"></span></div>
                        </div>


                    <div class="row">
                        <div class="col-2"><label for="dateOfBirth">Date OF Birth</label></div>
                        <div class="col-6"><input type="date" th:field="*{dateOfBirth}" id="dateOfBirth"
                                placeholder="Select Date Of Birth" class="form-control"></div>
                        <div class="col-4"><span id="dateOfBirthError"></span></div>
                    </div>
                    <div class="row p-1">
                        <div class="col-2">
                            <!--  <label for="gender">Gender</label> -->Marital Status
                        </div>
                        <div class="col-6"><input type="radio" th:field="*{marialStatus}" value="Married"
                                id="marialStatus1" />Married
                            <input type="radio" th:field="*{marialStatus}" value="Unarried"
                                id="marialStatus2" />Unmarried<br>
                            <input type="radio" th:field="*{marialStatus}" value="Widowed" id="marialStatus3" />Widowed
                            <input type="radio" th:field="*{marialStatus}" value="Divorced"
                                id="marialStatus4" />Divorced
                        </div>
                        <div class="col-4"><span id="marialStatusError"></span>
                        </div>

                        <div class="col-4"><span id="genderError"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-2"><label for="prasentAddr">Prasent Address</label></div>
                        <div class="col-6"><textarea th:field="*{prasentAddr}" id="prasentAddr"
                                placeholder="Enter Prasent Address" class="form-control"></textarea></div>
                        <div class="col-4"><span id="prasentAddrError"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-2"><label for="commanAddr">Communication Address</label></div>
                        <div class="col-6"><textarea th:field="*{commanAddr}" id="commanAddr"
                                placeholder="Enter Communication Address" class="form-control"></textarea></div>
                        <div class="col-4"><span id="commanAddrError"></span></div>
                    </div>
                                    <!--Communication Address End-->  
                     <div class="row">
                        <div class="col-2"><label for="medicalHistory">Medical History</label></div>
                        <div class="col-6"><input type="checkbox" th:field="*{medicalHistory}" value="Anemia" id="Anemia"> Anemia
                            <input type="checkbox" th:field="*{medicalHistory}" value="Asthma" id="Asthma"> Asthma
                            <input type="checkbox" th:field="*{medicalHistory}" value="Diabetes" id="Diabetes"> Diabetes <br>
                            <input type="checkbox" th:field="*{medicalHistory}" value="Cancer" id="Cancer"> Cancer
                            <input type="checkbox" th:field="*{medicalHistory}" value="Ulcer" id="Ulcer">Ulcer
                            <div class="col-4"><span id="medicalHistoryError"></span></div>
                        </div>
                    </div>
        
     <div class="row">
    <div class="col-2">
        <label for="ifOther">IF Other History
            <input type="checkbox" th:field="*{medicalHistory}" id="medicalHistory5" value="ifOther"/>
        </label>
    </div>
    <div class="col-4">
        <input type="text" th:field="*{ifOthers}" id="ifOthers" placeholder="Enter Medical History" class="form-control"/>
    </div>
    <div class="col-6">
        <span id="mediHistoryError"></span>
    </div>
</div>                 
<div class="row">
  <div class="col-2"><label for="note">Note</label></div>
                        <div class="col-6"><textarea th:field="*{note}" id="note" placeholder="Enter Note"
                                class="form-control"></textarea></div>
                        <div class="col-4"><span id="note"></span></div>
                    </div>
                    
 <div class="row">
    <div class="col-2"><label for="photoLoc">Image</label></div>
    <div class="col-6"><textarea th:field="*{photoLoc}" id="photoLoc" placeholder="Upload Image"
     class="form-control"></textarea></div>
      <div class="col-4"><span id="photoLocError"></span></div>
       </div>
                    <button class="btn btn-info">UPDATE</button>
                </form>
            </div>
            <div th:if="${message!=null}" class="card-footer bg-info text-center text-white"><span
                    th:text="${message}"></span></div>
        </div>
    </div>
</body>
</html>