<html xmlns:th="https://www.thymeleaf.org/">
  <head>
    <div th:replace="fragments/commonui :: header"></div>
  </head>
  <body>
  <div th:replace="fragments/commonui :: menu"></div>
    <div class="container">
      <div class="card">
        <div class="card-header bg-info text-center text-white">
        <h3> Welcome to Specialization Form </h3>
        </div>
        <div class="card-body">
          <form th:action="@{/special/save}" method="POST" id="specialform">
            <div class="row text-center">
              <div class="col-2"><label for="code">Code</label></div>
              <div class="col-6">
                <input
                  type="text"
                  name="code"
                  id="code"
                  class="form-control"
                />
              </div>
              <div class="col-4"><span id="codeError"></span></div>
            </div>
            <div class="row text-center">
              <div class="col-2"><label for="name">name</label></div>
              <div class="col-6">
                <input type="text" name="name" id="name" class="form-control" />
              </div>
              <div class="col-4"><span id="nameError"></span></div>
            </div>
            <div class="row text-center">
              <div class="col-2"><label for="note">Note</label></div>
              <div class="col-6">
                <textarea name="note" id="note" class="form-control"></textarea>
              </div>
              <div class="col-4"><span id="noteError"></span></div>
            </div>
            <button class="btn btn-primary"/> CREATE <i class="fa fa-plus" aria-hidden="true"></i></button> | <a th:href="@{/special/excel}"class="btn btn-info">EXCEL <i class="fa fa-download"></i></a>
          </form>
          <div th:text="${message}"></div> 
        </div>
        <div th:if="${message!=null}" class="card-footer bg-primary text-center text-white"><h5><span th:text="${message}">
        </span></h5></div>
        
      </div>
    </div>
      <script th:src="@{/myjs/spec_validate.js}"></script>
  </body>
</html>
